Repository langonne/minecharts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_build_dev, api_release_main, helm_chart_release, web_build_dev

Path conditions:
  api_build_dev: any of: api/**/*, kubernetes/**/*, .gitlab/ci/api-build-dev.yml, .gitlab-ci.yml
  api_release_main: any of: api/**/*, kubernetes/**/*, .gitlab/ci/api-release-main.yml, .gitlab-ci.yml
  helm_chart_release: any of: kubernetes/helm/**/*, .gitlab/ci/helm-release-main.yml, .gitlab-ci.yml
  web_build_dev: any of: web/**/*, .gitlab/ci/web-build-dev.yml, .gitlab-ci.yml

chore(ui): soften memory placeholder wording
  web/src/create-server.html
Due: web_build_dev

feat: validate env inputs and CF links
  api/cmd/api/handlers/server.go
  api/docs/api/endpoint/servers.md
  web/src/create-server.html
Due: api_build_dev, api_release_main, web_build_dev

chore(ui): tweak memory placeholder copy
  web/src/create-server.html
Due: web_build_dev

fix(k8s): align statefulset limits with memory helpers
  api/cmd/kubernetes/statefulset.go
Due: api_build_dev, api_release_main

chore: remove legacy deployment builder
  api/cmd/kubernetes/deployement.go
Due: api_build_dev, api_release_main

fix(ui): handle empty memory value
  web/src/create-server.ts
Due: web_build_dev

chore(ui): wrap long error messages
  web/src/create-server.html
Due: web_build_dev

fix: handle motd formatting and legacy vanilla transport
  api/cmd/api/handlers/server.go
  api/docs/api/endpoint/servers.md
  api/docs/configuration.md
  web/src/create-server.html
  web/src/create-server.ts
Due: api_build_dev, api_release_main, web_build_dev

feat: surface admin warnings in ui
  api/cmd/api/handlers/admin.go
  api/cmd/api/handlers/auth.go
  api/cmd/api/routes.go
  api/cmd/config/config.go
  api/docs/configuration.md
  kubernetes/helm/minecharts/values.yaml
  web/src/main.ts
Due: api_build_dev, api_release_main, helm_chart_release, web_build_dev

fix: use re2-safe motd color regex
  api/cmd/api/handlers/server.go
Due: api_build_dev, api_release_main

fix: show admin warnings as one-time toasts
  web/src/main.ts
Due: web_build_dev

fix: auto-dismiss admin warning toasts
  web/src/main.ts
Due: web_build_dev

fix: keep admin warning toast inline and readable
  web/src/main.ts
Due: web_build_dev

fix: delete owned servers before removing user
  api/cmd/api/handlers/users.go
Due: api_build_dev, api_release_main

chore: embed build metadata and pass version into api builds
  .github/workflows/api-build-dev.yml
  .github/workflows/api-release-main.yml
  .gitlab/ci/api-build-dev.yml
  .gitlab/ci/api-release-main.yml
  api/Dockerfile
  api/cmd/version/version.go
  api/main.go
Due: api_build_dev, api_release_main

chore: expose frontend build metadata
  .github/workflows/web-build-dev.yml
  .github/workflows/web-release-main.yml
  .gitlab/ci/web-build-dev.yml
  .gitlab/ci/web-release-main.yml
  web/Dockerfile
  web/src/main.ts
Due: web_build_dev

chore: align footer styling with navbar
  web/src/main.ts
Due: web_build_dev

fix(web): keep footer at bottom on admin/account
  web/src/account.html
  web/src/admin.html
Due: web_build_dev

perf(web): fetch admin warnings once per session
  web/src/main.ts
Due: web_build_dev

perf(web): cache /auth/me in session storage
  web/src/main.ts
Due: web_build_dev

fix(web): hide footer on guest routes
  web/src/main.ts
Due: web_build_dev

fix(web): clear cached auth state on logout
  web/src/main.ts
Due: web_build_dev

Set default version to latest with mike 2.1.3
  index.html
Due: none

fix(docs): build public artifacts and correct API overview link
  .gitlab/ci/api-release-main.yml
  api/docs/index.md
Due: api_build_dev, api_release_main

fix(ci): allow mike to update latest alias
  .gitlab/ci/api-release-main.yml
Due: api_release_main

ci: add pages fallback version
  .gitlab/ci/api-release-main.yml
Due: api_release_main

fix: allow slash in curseforge api key
  api/cmd/api/handlers/server.go
  api/docs/api/endpoint/servers.md
  web/src/create-server.html
Due: api_build_dev, api_release_main, web_build_dev

Deployed aa971b9 to 1.1.2 with MkDocs 1.6.1 and mike 2.1.3
  1.1.2/sitemap.xml
  1.1.2/sitemap.xml.gz
Due: none
