Repository langonne/minecharts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_build_dev, api_release_main, web_build_dev

Path conditions:
  api_build_dev: any of: api/**/*, kubernetes/**/*, .gitlab/ci/api-build-dev.yml, .gitlab-ci.yml
  api_release_main: any of: api/**/*, kubernetes/**/*, .gitlab/ci/api-release-main.yml, .gitlab-ci.yml
  web_build_dev: any of: web/**/*, .gitlab/ci/web-build-dev.yml, .gitlab-ci.yml

fix(dashboard): ensure loader processed before trigger
  web/src/dashboard.ts
Due: web_build_dev

feat(api): enforce minecraft memory quota
  api/cmd/api/handlers/server.go
  api/cmd/config/config.go
  api/cmd/database/database.go
  api/cmd/database/models.go
  api/cmd/database/postgres.go
  api/cmd/database/sqlite.go
  api/docs/configuration.md
  api/docs/database.md
  kubernetes/overlays/test/dev-env.example.yaml
Due: api_build_dev, api_release_main

fix(api): keep memory quota in sync after deletions
  api/cmd/api/handlers/server.go
Due: api_build_dev, api_release_main

feat(kubernetes): enforce memory limits for minecraft pods
  api/cmd/api/handlers/server.go
  api/cmd/config/config.go
  api/cmd/kubernetes/deployement.go
  api/docs/configuration.md
Due: api_build_dev, api_release_main

Deployed 331ae2c with MkDocs version: 1.6.1
  404.html
  additional-tweaks/index.html
  api/authentification_model/index.html
  api/endpoint/api_keys/index.html
  api/endpoint/authentification/index.html
  api/endpoint/feedback/index.html
  api/endpoint/servers/index.html
  api/endpoint/users/index.html
  api/index.html
  api/operational_notes/index.html
  api/request_flow/index.html
  configuration/index.html
  index.html
  local-development-overlay/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: api_build_dev, api_release_main

ci: deploy api docs with mkdocs
  .gitlab-ci.yml
  .gitlab/ci/api-release-main.yml
Due: api_build_dev, api_release_main, web_build_dev

ci: add monorepo releases
  .github/workflows/semantic-release-main.yml
  .gitlab-ci.yml
  .gitlab/ci/semantic-release-main.yml
  api/package.json
  web/package.json
Due: api_build_dev, api_release_main, web_build_dev

ci: tag docker images with release versions
  .github/workflows/api-release-main.yml
  .github/workflows/web-release-main.yml
  .gitlab/ci/api-release-main.yml
  .gitlab/ci/semantic-release-main.yml
  .gitlab/ci/web-release-main.yml
Due: api_release_main

chore(web): update bun.lock
  web/bun.lock
Due: web_build_dev

sync to stable
  .gitlab/ci/api-release-main.yml
  .gitlab/ci/semantic-release-main.yml
  .gitlab/ci/web-release-main.yml
  api/package.json
  web/package.json
Due: api_build_dev, api_release_main, web_build_dev

sync to main
  kubernetes/bases/minecharts-api/deployment.yaml
  kubernetes/bases/minecharts-web/deployment.yaml
  kubernetes/overlays/prod/.gitignore
  kubernetes/overlays/prod/env.example.yaml
  kubernetes/overlays/prod/ingress-patch.yaml
  kubernetes/overlays/prod/kustomization.yaml
  kubernetes/overlays/prod/namespace.yaml
  web/bun.lock
Due: api_build_dev, api_release_main, web_build_dev

fix(api): allow empty storage class
  api/cmd/kubernetes/storage.go
  api/docs/configuration.md
  api/main.go
Due: api_build_dev, api_release_main

fix(api): stop logging db password
  api/cmd/database/database.go
Due: api_build_dev, api_release_main

feat(auth): persist generated jwt secret
  api/cmd/config/config.go
  api/docs/configuration.md
  api/docs/local-development-overlay.md
  api/main.go
  kubernetes/bases/minecharts-api/deployment.yaml
  kubernetes/overlays/prod/env.example.yaml
  kubernetes/overlays/test/dev-env.example.yaml
Due: api_build_dev, api_release_main

feat(auth): add jwt secret helper
  api/cmd/secrets/jwt.go
Due: api_build_dev, api_release_main

fix(database): hash default admin password at init
  api/cmd/database/postgres.go
  api/cmd/database/sqlite.go
Due: api_build_dev, api_release_main

chore(kubernetes): centralize env vars in overlays
  kubernetes/bases/minecharts-api/deployment.yaml
  kubernetes/bases/minecharts-web/deployment.yaml
  kubernetes/overlays/prod/env.example.yaml
  kubernetes/overlays/test/dev-env.example.yaml
Due: api_build_dev, api_release_main

ci: gate semantic releases by package
  .github/workflows/semantic-release-main.yml
  .gitlab/ci/semantic-release-main.yml
Due: none

feat(auth): harden oauth login flow
  api/cmd/api/handlers/auth.go
  api/cmd/auth/oauth.go
  api/cmd/config/config.go
  api/cmd/database/database.go
  api/cmd/database/models.go
  api/cmd/database/postgres.go
  api/cmd/database/sqlite.go
  api/cmd/database/user_helpers.go
Due: api_build_dev, api_release_main

feat(web): add authentik login toggle
  web/README.md
  web/src/login.html
  web/src/login.ts
Due: web_build_dev

fix(auth): use authentik authorize endpoints
  api/cmd/auth/oauth.go
Due: api_build_dev, api_release_main

fix(auth): stabilize authentik oauth flow
  api/cmd/api/handlers/auth.go
  api/cmd/auth/oauth.go
  api/docs/configuration.md
Due: api_build_dev, api_release_main

feat(auth): grant admin perms from authentik group
  api/cmd/auth/oauth.go
  api/cmd/config/config.go
  api/docs/configuration.md
Due: api_build_dev, api_release_main

fix(auth): revoke admin when authentik group missing
  api/cmd/auth/oauth.go
  api/docs/configuration.md
Due: api_build_dev, api_release_main

feat(auth): expose configured oauth providers
  api/cmd/api/handlers/auth.go
  api/cmd/api/routes.go
  web/README.md
  web/src/login.ts
Due: api_build_dev, api_release_main, web_build_dev

fix(auth): sync navbar username after oauth
  web/src/main.ts
Due: web_build_dev

fix(server): avoid duplicate server info fetch
  web/src/server.ts
Due: web_build_dev

fix(server): drop unused getInfoRef
  web/src/server.ts
Due: web_build_dev

fix(auth): broadcast username changes for navbar
  web/src/main.ts
  web/src/navbar.html
Due: web_build_dev

fix(admin): translate delete tooltip
  web/src/admin.html
Due: web_build_dev

fix(auth): rebroadcast state after navbar swap
  web/src/main.ts
Due: web_build_dev

fix(auth): rebroadcast username on load
  web/src/main.ts
Due: web_build_dev

chore(k8s): align prod namespace
  kubernetes/overlays/prod/kustomization.yaml
  kubernetes/overlays/prod/namespace.yaml
Due: api_build_dev, api_release_main

ci: make semantic release needs optional
  .gitlab/ci/api-release-main.yml
  .gitlab/ci/semantic-release-main.yml
Due: api_release_main

feat: add helm chart for prod deployment
  README.md
  kubernetes/helm/minecharts/.helmignore
  kubernetes/helm/minecharts/Chart.yaml
  kubernetes/helm/minecharts/templates/_helpers.tpl
  kubernetes/helm/minecharts/templates/api-deployment.yaml
  kubernetes/helm/minecharts/templates/api-pvc.yaml
  kubernetes/helm/minecharts/templates/api-rbac.yaml
  kubernetes/helm/minecharts/templates/api-service.yaml
  kubernetes/helm/minecharts/templates/ingress.yaml
  kubernetes/helm/minecharts/templates/middleware.yaml
  kubernetes/helm/minecharts/templates/namespace.yaml
  kubernetes/helm/minecharts/templates/web-deployment.yaml
  kubernetes/helm/minecharts/templates/web-pvc.yaml
  kubernetes/helm/minecharts/templates/web-rbac.yaml
  kubernetes/helm/minecharts/templates/web-service.yaml
  kubernetes/helm/minecharts/values.yaml
Due: api_build_dev, api_release_main

ci: publish helm chart to gitlab registry
  .gitlab-ci.yml
  .gitlab/ci/helm-release-main.yml
Due: api_build_dev, api_release_main, web_build_dev

chore(ci): update helm ci
  .gitlab/ci/helm-release-main.yml
Due: none

fix(helm): rely on helm namespace creation
  README.md
  kubernetes/helm/minecharts/templates/namespace.yaml
  kubernetes/helm/minecharts/values.yaml
Due: api_build_dev, api_release_main

fix(helm): guard namespace helper
  kubernetes/helm/minecharts/templates/_helpers.tpl
Due: api_build_dev, api_release_main

fix(helm): rely on helm repo deployment
  README.md
Due: none
