Repository langonne/minecharts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_build_dev, api_release_main, helm_chart_release, web_build_dev

Path conditions:
  api_build_dev: any of: api/**/*, kubernetes/**/*, .gitlab/ci/api-build-dev.yml, .gitlab-ci.yml
  api_release_main: any of: api/**/*, kubernetes/**/*, .gitlab/ci/api-release-main.yml, .gitlab-ci.yml
  helm_chart_release: any of: kubernetes/helm/**/*, .gitlab/ci/helm-release-main.yml, .gitlab-ci.yml
  web_build_dev: any of: web/**/*, .gitlab/ci/web-build-dev.yml, .gitlab-ci.yml

chore: increase api rate limit defaults
  api/cmd/config/config.go
  api/docs/api/endpoint/authentification.md
  api/docs/configuration.md
Due: api_build_dev, api_release_main

feat: gate self-registration behind admin by default
  api/cmd/api/routes.go
  api/cmd/config/config.go
  api/docs/api/endpoint/authentification.md
  api/docs/configuration.md
  web/src/account.ts
  web/src/admin.ts
  web/src/main.ts
  web/src/navbar.html
Due: api_build_dev, api_release_main, web_build_dev

chore: tidy helm chart defaults and docs
  README.md
  api/docs/helm-chart.md
  api/mkdocs.yml
  kubernetes/helm/minecharts/templates/api-deployment.yaml
  kubernetes/helm/minecharts/templates/api-service.yaml
  kubernetes/helm/minecharts/templates/web-deployment.yaml
  kubernetes/helm/minecharts/templates/web-pvc.yaml
  kubernetes/helm/minecharts/values.yaml
Due: api_build_dev, api_release_main, helm_chart_release

chore: surface api env vars in helm values
  kubernetes/helm/minecharts/values.yaml
Due: api_build_dev, api_release_main, helm_chart_release

chore: enmpty string by default for gitlab token
  kubernetes/helm/minecharts/values.yaml
Due: api_build_dev, api_release_main, helm_chart_release

docs: clarify helm ingress annotations and middleware
  README.md
  api/docs/helm-chart.md
Due: api_build_dev, api_release_main

chore(helm): add instructions
  kubernetes/helm/minecharts/values.yaml
Due: api_build_dev, api_release_main, helm_chart_release

fix: embed tzdata for timezone support
  api/main.go
Due: api_build_dev, api_release_main

fix(auth): require explicit oauth provider configuration
  api/cmd/api/handlers/auth.go
  api/cmd/auth/oauth.go
  api/cmd/config/config.go
  api/docs/configuration.md
  kubernetes/helm/minecharts/values.yaml
Due: api_build_dev, api_release_main, helm_chart_release

chore(web): commit login page updates
  web/README.md
  web/src/login.html
  web/src/login.ts
Due: web_build_dev

feat(auth): add configurable default perms and authentik user group sync
  api/cmd/api/handlers/auth.go
  api/cmd/auth/oauth.go
  api/cmd/auth/permissions.go
  api/cmd/config/config.go
Due: api_build_dev, api_release_main

docs: add permission masks and translate tips to english
  api/docs/additional-tweaks.md
  api/docs/api/authentification_model.md
  api/docs/api/operational_notes.md
  api/docs/configuration.md
  api/docs/helm-chart.md
  api/docs/index.md
  api/docs/local-development-overlay.md
Due: api_build_dev, api_release_main

chore(helm): list default user and authentik envs
  kubernetes/helm/minecharts/values.yaml
Due: api_build_dev, api_release_main, helm_chart_release

feat(api): migrate minecraft servers to statefulsets
  api/cmd/api/handlers/logs_ws.go
  api/cmd/api/handlers/network.go
  api/cmd/api/handlers/server.go
  api/cmd/config/config.go
  api/cmd/database/models.go
  api/cmd/database/postgres.go
  api/cmd/database/sqlite.go
  api/cmd/kubernetes/deployement.go
  api/cmd/kubernetes/pod.go
  api/cmd/kubernetes/service.go
  api/cmd/kubernetes/statefulset.go
  api/cmd/kubernetes/utils.go
  api/docs/api/endpoint/servers.md
  api/docs/api/operational_notes.md
  api/docs/api/request_flow.md
  api/docs/configuration.md
  api/docs/database.md
  api/docs/index.md
Due: api_build_dev, api_release_main

chore(api): drop legacy deployment prefix and column
  api/cmd/config/config.go
  api/cmd/database/postgres.go
  api/cmd/database/sqlite.go
  api/docs/configuration.md
  api/docs/database.md
Due: api_build_dev, api_release_main

fix(k8s): allow api service account to manage statefulsets
  kubernetes/bases/minecharts-api/rbac.yaml
  kubernetes/helm/minecharts/templates/api-rbac.yaml
Due: api_build_dev, api_release_main, helm_chart_release

chore(k8s): narrow api rbac to statefulsets only
  kubernetes/bases/minecharts-api/rbac.yaml
  kubernetes/helm/minecharts/templates/api-rbac.yaml
Due: api_build_dev, api_release_main, helm_chart_release

fix(api): fail server creation when db persistence fails
  api/cmd/api/handlers/server.go
Due: api_build_dev, api_release_main

chore(api): drop legacy -svc cleanup and align service naming
  api/cmd/api/handlers/network.go
  api/cmd/api/handlers/server.go
  api/cmd/kubernetes/service.go
  api/docs/api/endpoint/servers.md
Due: api_build_dev, api_release_main

docs(helm): clarify secret injection patterns
  api/docs/helm-chart.md
Due: api_build_dev, api_release_main

docs(helm): add secrets example admonition
  api/docs/helm-chart.md
Due: api_build_dev, api_release_main

feat(config)!: rename memory env and add deprecation handling
  api/cmd/api/handlers/server.go
  api/cmd/config/config.go
  api/cmd/kubernetes/deployement.go
  api/docs/api/endpoint/servers.md
  api/docs/configuration.md
  api/docs/database.md
  kubernetes/helm/minecharts/values.yaml
  kubernetes/overlays/test/dev-env.example.yaml
  web/src/create-server.ts
Due: api_build_dev, api_release_main, helm_chart_release, web_build_dev

ci(gitlab): deploy versioned docs with mike
  .gitlab/ci/api-release-main.yml
  api/mkdocs.yml
  api/pyproject.toml
  api/uv.lock
Due: api_build_dev, api_release_main

feat(quota): enforce overhead in limit checks
  api/cmd/api/handlers/quota.go
  api/cmd/api/handlers/server.go
  api/cmd/api/routes.go
  api/cmd/config/config.go
  api/cmd/kubernetes/deployement.go
  api/docs/api/endpoint/quota.md
  api/docs/api/endpoint/servers.md
  api/docs/configuration.md
  api/mkdocs.yml
  web/src/create-server.html
  web/src/create-server.ts
Due: api_build_dev, api_release_main, web_build_dev

docs: align naming with statefulsets
  api/docs/api/endpoint/servers.md
Due: api_build_dev, api_release_main

chore(ui): set pointer cursor on buttons
  web/src/main.ts
Due: web_build_dev

chore(ui): improve MOTD color buttons contrast
  web/src/create-server.html
  web/src/create-server.ts
Due: web_build_dev

chore(ui): hide native number input spinners
  web/src/styles.css
Due: web_build_dev

fix(ui): avoid duplicate latest version option
  web/src/create-server.ts
Due: web_build_dev

feat(ui): add one-click copy for server URL
  web/src/server.html
  web/src/server.ts
Due: web_build_dev

chore(ui): add global button cursor style
  web/src/styles.css
Due: web_build_dev

docs(api): reflect statefulset name in server responses
  api/docs/api/endpoint/servers.md
Due: api_build_dev, api_release_main

chore(ui): simplify MOTD helper
  web/src/create-server.html
  web/src/create-server.ts
Due: web_build_dev

chore(ui): make MOTD preview scrollable
  web/src/create-server.html
Due: web_build_dev

feat(ui): add MOTD helper with palette, symbols, and preview
  web/src/create-server.html
  web/src/create-server.ts
Due: web_build_dev

chore(ui): style MOTD format buttons
  web/src/create-server.html
  web/src/create-server.ts
Due: web_build_dev

fix(motd): enforce length and newline limits
  api/cmd/api/handlers/server.go
  api/docs/api/endpoint/servers.md
  web/src/create-server.html
  web/src/create-server.ts
Due: api_build_dev, api_release_main, web_build_dev

chore(ui): simplify memory helper text
  web/src/create-server.html
Due: web_build_dev

chore(ui): adjust default memory and add guidance
  web/src/create-server.html
  web/src/create-server.ts
Due: web_build_dev

chore(ui): make memory hint a placeholder
  web/src/create-server.html
  web/src/create-server.ts
Due: web_build_dev
