Repository langonne/minecharts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_build_dev, web_build_dev

api_build_dev:
  stage: build
  image: docker:24.0.6
  tags:
  - tls-dind-kubernetes-runner
  services:
  - name: docker:24.0.6-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  variables:
    COMPONENT: api
    TARGET_ENV: dev
    BUILD_CONTEXT: api
    DOCKERFILE_PATH: api/Dockerfile
    DOCKER_HOST: tcp://docker:2376
  ...

web_build_dev:
  stage: build
  image: docker:24.0.6
  services:
  - docker:24.0.6-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    COMPONENT: web
    TARGET_ENV: dev
    BUILD_CONTEXT: web
    DOCKERFILE_PATH: web/Dockerfile
  before_script:
  - echo "Logging in to registry ${CI_REGISTRY}"
  ...

fix: push without tag in docker -t
  .gitlab/ci/api-build-dev.yml
Due: api_build_dev

fix: fix
  .gitlab/ci/api-build-dev.yml
Due: api_build_dev

fix: fix
  .github/workflows/api-build-dev.yml
Due: none

feat(config): change placeholder for mc router suffix
  api/cmd/config/config.go
Due: api_build_dev

chore(config): set neutral default router domain
  api/cmd/config/config.go
Due: api_build_dev

chore(k8s): inject dev env patch in test overlay
  kubernetes/overlays/test/.gitignore
  kubernetes/overlays/test/dev-env.exemple.yaml
  kubernetes/overlays/test/kustomization.yaml
Due: api_build_dev

docs: document dev overlay workflow
  README.md
Due: none

docs: explain dev overlay configuration
  api/docs/configuration.md
Due: api_build_dev

docs: split configuration extras
  api/docs/additional-tweaks.md
  api/docs/configuration.md
  api/docs/local-development-overlay.md
  api/mkdocs.yml
Due: api_build_dev

fix(auth): require explicit JWT secret
  api/cmd/config/config.go
  api/docs/configuration.md
  api/main.go
Due: api_build_dev

fix(config): enforce required storage and domain
  api/docs/configuration.md
  api/main.go
Due: api_build_dev

Add authenticated feedback endpoint backed by GitHub issues
  api/cmd/api/handlers/feedback.go
  api/cmd/api/routes.go
  api/cmd/config/config.go
  api/cmd/logging/domains.go
  api/cmd/logging/init.go
  api/docs/api/endpoint/feedback.md
  api/docs/configuration.md
  api/main.go
  api/mkdocs.yml
Due: api_build_dev

feat(web): add feedback modal hook
  web/src/feedback.ts
  web/src/main.ts
  web/src/navbar.html
Due: web_build_dev

fix(api): drop client IP from feedback issues
  api/cmd/api/handlers/feedback.go
Due: api_build_dev

chore(k8s): document feedback env vars in test overlay example
  kubernetes/overlays/test/dev-env.exemple.yaml
Due: api_build_dev

chore(api): ignore site output and venv
  api/.gitignore
Due: api_build_dev

fix(web): translate feedback modal copy
  web/src/feedback.ts
  web/src/navbar.html
Due: web_build_dev

fix: trigger gitlab ci
  kubernetes/overlays/test/dev-env.exemple.yaml
Due: api_build_dev

fix: trigger servers list fetch after alpine init
  web/src/dashboard.html
  web/src/dashboard.ts
Due: web_build_dev

fix: use tags to find a runner
  .gitlab/ci/web-build-dev.yml
Due: web_build_dev

fix(ci): add docker variable
  .gitlab/ci/web-build-dev.yml
Due: web_build_dev

fix: provide detail when triggering servers list ready
  web/src/dashboard.ts
Due: web_build_dev

test another name for registery
  .gitlab/ci/api-build-dev.yml
  .gitlab/ci/web-build-dev.yml
Due: api_build_dev, web_build_dev

feat(api): support gitlab feedback provider
  api/cmd/api/handlers/feedback.go
  api/cmd/config/config.go
  api/docs/api/endpoint/feedback.md
  api/docs/configuration.md
  api/main.go
  kubernetes/overlays/test/dev-env.exemple.yaml
Due: api_build_dev

refactor(api): drop page and screenshot urls from feedback
  api/cmd/api/handlers/feedback.go
  api/docs/api/endpoint/feedback.md
Due: api_build_dev

chore(k8s): clarify sample manifests
  README.md
  kubernetes/bases/ingress.yaml
  kubernetes/overlays/test/dev-env.exemple.yaml
Due: api_build_dev

chore(k8s): override ingress host in sample overlay
  kubernetes/overlays/test/dev-env.exemple.yaml
Due: api_build_dev

chore(ci): publish component images in separate repos
  .gitlab/ci/api-build-dev.yml
  .gitlab/ci/api-release-main.yml
  .gitlab/ci/web-build-dev.yml
  .gitlab/ci/web-release-main.yml
  README.md
Due: api_build_dev, web_build_dev

feat(kubernetes): use generic url
  kubernetes/overlays/test/dev-env.exemple.yaml
Due: api_build_dev

refactor(kubernetes): change exemple to example file name
  kubernetes/overlays/test/dev-env.example.yaml
Due: api_build_dev

fix(kubernetes): make the whole ingress apply correctly
  kubernetes/overlays/test/dev-env.example.yaml
Due: api_build_dev

feat(ci): change image repository to gitlab
  kubernetes/bases/minecharts-api/deployment.yaml
  kubernetes/bases/minecharts-web/deployment.yaml
Due: api_build_dev

switch image to github
  kubernetes/bases/minecharts-api/deployment.yaml
  kubernetes/bases/minecharts-web/deployment.yaml
Due: api_build_dev

test
  .gitlab/ci/api-build-dev.yml
Due: api_build_dev

fix(kubernetes): change value of MINECHARTS_MCROUTER_DOMAIN_SUFFIX to example.com
  kubernetes/overlays/test/dev-env.example.yaml
Due: api_build_dev

fix(dashboard): use absolute api servers path
  web/src/dashboard.html
Due: web_build_dev

Path conditions:
  api_build_dev: any of: api/**/*, kubernetes/**/*, .gitlab/ci/api-build-dev.yml, .gitlab-ci.yml
  web_build_dev: any of: web/**/*, .gitlab/ci/web-build-dev.yml, .gitlab-ci.yml
